@font-face {
    font-family: 'Aileron_regular';
    src: url('../font/Aileron-Regular.woff2') format('woff2'),
         url('../font/Aileron-Regular.woff') format('woff');

}
@font-face {
    font-family: 'Aileron_bold';
    src: url('../font/Aileron-Bold.woff2') format('woff2'),
         url('../font/Aileron-Bold.woff') format('woff');

}

body{
    margin: 0;
    padding: 0;
}
main{
    background-color:white;
}
p{
    font-family:"Aileron-regular",sans-serif;
    padding: 0.5em;
}
h3{
    font-family:"Aileron-regular",sans-serif;
}


header+div{
    background-color: #538CE1;
    color:white;
    padding:0.6em;
    text-align:center;
    font-family:"Aileron-regular",sans-serif;
}

article{
    text-align:center;
}

article>div{
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
    justify-content:space-around;
}
h3+p{
    font-family:"Aileron-regular",sans-serif;
    margin-top:1em;
    margin-bottom:1em;
    margin-left:30%;
    margin-right:30%;
}

img{
    width:100%;
    height:100%;
}


@media (max-width : 1050px){
    .pars{
        display:block;
    }

    article>div{
        justify-content:space-around;
    }
    h3+p{
    margin-top:1em;
    margin-bottom:1em;
    margin-left:30%;
    margin-right:30%;
}
}
@media (max-width: 750px){
    .pars{
        display:none;
    }
    article>div{
        justify-content:center;
    }

    h3+p{
    margin-top:1em;
    margin-bottom:1em;
    margin-left:0;
    margin-right:0;    }
}

